config/Code/Backups/
config/Code/Cache/
config/Code/CachedData/
config/Code/CachedExtensions/
config/Code/Cookies
config/Code/Cookies-journal
config/Code/GPUCache/
config/Code/Network Persistent State
config/Code/User/globalStorage/
config/Code/User/workspaceStorage/
config/Code/languagepacks.json
config/Code/logs/
config/Code/machineid
config/Code/rapid_render.json
config/Code/storage.json
