config/Code/Backups/
config/Code/Cache/
config/Code/CachedData/
config/Code/CachedExtensions/
config/Code/Cookies
config/Code/Cookies-journal
config/Code/GPUCache/
config/Code/Network Persistent State
config/Code/User/globalStorage/
config/Code/User/workspaceStorage/
config/Code/languagepacks.json
config/Code/logs/
config/Code/machineid
config/Code/rapid_render.json
config/Code/storage.json
config/mpv/watch_later/
config/ranger/bookmarks
config/Typora/draftsRecover/
config/Typora/GPUCache/
config/Typora/Local Storage/
config/Typora/SS
config/Typora/SingletonCookie
config/Typora/SingletonLock
config/Typora/backups
config/Typora/dictionaries/
config/Typora/history.data
config/Typora/profile.data
config/Typora/typora.log

