config/Code/Backups/
config/Code/Cache/
config/Code/CachedData/
config/Code/CachedExtensions/
config/Code/Cookies
config/Code/Cookies-journal
config/Code/GPUCache/
config/Code/Network Persistent State
config/Code/User/globalStorage/
config/Code/User/workspaceStorage/
config/Code/languagepacks.json
config/Code/logs/
config/Code/machineid
config/Code/rapid_render.json
config/Code/storage.json
config/mpv/watch_later/
config/ranger/bookmarks
config/Typora/draftsRecover/
config/Typora/GPUCache/
config/Typora/Local Storage/
config/Typora/SS
config/Typora/SingletonCookie
config/Typora/SingletonLock
config/Typora/backups
config/Typora/dictionaries/
config/Typora/history.data
config/Typora/profile.data
config/Typora/typora.log
config/Typora/themes/github.css
config/Typora/themes/newsprint.css
config/Typora/themes/night.css
config/Typora/themes/old-themes/github.css
config/Typora/themes/pixyll.css
config/Typora/000015.log
config/Typora/CURRENT
config/Typora/Code Cache/
config/Typora/LOCK
config/Typora/LOG
config/Typora/LOG.old
config/Typora/MANIFEST-000014
config/Typora/Network Persistent State
config/Typora/themes/old-themes/Readme.md
config/Typora/themes/old-themes/github/
config/Typora/themes/old-themes/newsprint.css
config/Typora/themes/old-themes/newsprint/
config/Typora/themes/old-themes/night.css
config/Typora/themes/old-themes/night/
config/Typora/themes/old-themes/pixyll.css
config/Typora/themes/old-themes/pixyll/
config/Typora/themes/old-themes/whitey.css

config/Code/.org.chromium.Chromium.8fjqpB
config/Code/Code Cache/
config/Code/Session Storage/
config/Code/TransportSecurity
